/* img {
  width: 230px;
  height: 150px;
  object-fit: cover;
} */

.image-container {
  width: 230px;
  /* background-color: aqua; */
  height: 160px;
  background-size: cover;
  background-position: center;
}


.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%; 
  margin: 20px 0 0px 0;
  height: 36px;
}

.header-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.current-option {
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 10px;
}
.option {
  font-family: 'Poppins';
  font-size: 1.2em;
  font-weight: bold;
}
.cheese-name{
  font-family: 'Poppins';
  font-size: 1.6em;
  font-weight: bold;
}

.grayed-out {
  position: relative;
}

.grayed-out::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(70, 70, 70, 0.7);
}

.choice-overlay {
  position: absolute;
  z-index: 1;
  font-size: 50px ;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Poppins', sans-serif;
  /* More styles as needed, for example for the size of the font */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body, #root, .App {
  height: 99%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
